
{{with .User}}
    USER
    Id:{{.Id}}
    Name:{{.Name}}
    Email:{{.Email}}
    Password:{{.Password}}
{{end}}

{{range .Categories}}
    Name:{{.Name}}
{{end}}

{{if .Posts}}
POST IN RANGE
    {{range .Posts}}
        POST:{{.PostId}} <!-- Используйте .PostId, если это поле определено для каждого поста -->
        Title:{{.Title}}
        Content:{{.Content}}
        UserId:{{.UserId}}
        UserNane:{{.UserNane}}
        CreateAt:{{.CreateAt}}
    {{end}}
{{end}}

{{with .Post}}
POST BY ID
    PostId:{{.PostId}} 
    Title:{{.Title}}
    Content:{{.Content}}
    UserId:{{.UserId}}
    UserNane:{{.UserName}}
    CreateAt:{{.CreateAt}}
{{end}}
{{if .Comments}}
COMMENTS IS RANGE
    {{range .Comments}}
    COMMENT
        Id:{{.Id}}
        PostId:{{.PostId}}
        Content:{{.Content}}
        UserId:{{.UserId}}
        UserName:{{.UserName}}
        CreateAt:{{.CreateAt}}
    {{end}}
{{end}}